.single-container {
  margin: 10px auto;
  max-width: 800px;
}

.vehicle-single-card {
  display: flex;
  background-color: black;
}

.vehicle-single-card-img {
  flex: 7;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.vehicle-single-card-img-img {
  width: 100%;
}

.vehicle-single-card-info {
  flex: 5;
  margin: 20px;
}

.single-card-info-cap {
  text-transform: capitalize;
}

hr:not([size]) {
  height: 3px;
  margin: 10px 0;
  opacity: 100%;
}
